services:
  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    depends_on:
      - redis
      - postgres
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    networks:
      - backend_net
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 512M
    healthcheck:
      test: [CMD, curl, -f, http://localhost:8000/]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 10s

  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - backend_net
    deploy:
      resources:
        limits:
          cpus: 0.8
          memory: 1G
    healthcheck:
      test: [CMD, pg_isready, -U, postgres]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 10s

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    networks:
      - backend_net
    deploy:
      resources:
        limits:
          cpus: 0.3
          memory: 256M
    healthcheck:
      test: [CMD, redis-cli, ping]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 10s

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    env_file: .env
    networks:
      - backend_net
    ports:
      - 5050:80

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - backend_net
    healthcheck:
      test: [CMD, curl, -f, http://localhost]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 10s

volumes:
  pg_data:

networks:
  backend_net:
